.historial-compras {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h1 {
        font-size: 1.8em;
        color: #333;
        margin-bottom: 1em;
        text-align: center;
    }
}

.pedido {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #ffffff;

    p {
        margin: 5px 0;
        color: #555;
        font-size: 1em;
    }

    .detalles {
        margin-top: 10px;
        padding-left: 20px;

        .detalle-item {
            font-size: 0.95em;
            color: #444;
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;

            span {
                font-weight: bold;
            }
        }
    }
}