.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.loginTitle {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.submitButton {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #005bb5;
  }
}

.notRegistered {
  margin-top: 20px;
  text-align: center;
}

.registerButton {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #218838;
  }
}
.passwordContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.passwordContainer input {
  flex: 1;
}

.togglePasswordButton {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  transition: background-color 0.3s ease;
}

.togglePasswordButton:hover {
  background-color: darkred;
}